* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    width: 250px;
    height: 65px;
    border: none;
    outline: none;
    background: #F78065;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.services-list,
.facilities,
.sites,
.advantages {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

/* Hero */

.hero-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    position: relative;
    min-height: 650px;
    background: url("https://dazzling-squirrel-77a63d.netlify.app/imgs/hero.png") no-repeat center center;
    background-size: cover;
    overflow: visible;
    width: 100%;
}

.hero-btn {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}
  
.hero-text {
    background: white;
    align-self: end;
    justify-self: end;
    padding: 2rem;
    width: 741px;
    height: 537px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    position: relative;
    margin-bottom: -10rem;
    padding: 6rem;
    padding-right: 13rem
}

.hero-text h1 {
    font-size: 39px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.highlight {
    color: #F78065;
}

.hero-text p {
    font-size: 20px;
    margin-bottom: 2rem;
}

/* Servies */
.services {
    margin-top: 14rem;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 4rem 2rem;
    width: 100%;
}

.service-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.service-item h3 {
    font-size: 24px;
    font-weight: bold;
}

.service-item p {
    color: #808080;
}

.service-item a {
    text-decoration: none;
    color: #F78065;
    font-size: 18px;
    font-weight: bold;
}
  
/* facilities */
.facilities {
    margin-bottom: 10rem;
}

.facilities-options {
    padding: 4rem 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    justify-content: center;
    padding-left: 0;
}

.facility-item h3 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.facility-item p {
    color: #808080;
    margin-bottom: 1.5rem;
}

.facility-item a {
    text-decoration: none;
    color: #F78065;
    font-size: 18px;
    font-weight: bold;
}


/* Sites */
.sites {
    display: flex;
}

.sites-btn {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}

.sites-intro h2 {
    font-size: 36px;
    padding-right: 4rem;
    margin-bottom: 2rem;
}

.sites-intro p {
    color: #808080;
    margin-top: 1rem;
    padding-right: 10rem;
    margin-bottom: 4rem;
}

.sites-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 4rem 2rem;
    width: 100%;
    padding-top: 0;
}

.site-item img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    margin-bottom: 1rem;
}

.site-item h3 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 0.25rem;
}

.site-item p {
    color: #808080;
    margin-bottom: 0.25rem;
}

.site-item a {
    text-decoration: none;
    color: #F78065;
    font-size: 18px;
    font-weight: bold;
}

/* Advantages */
.advantages-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 4rem 2rem;
    width: 100%;
    padding-left: 0;
}

.advantage-item {
    padding: 2rem;
    padding-left: 0;
}

.advantage-item h3 {
    font-size: 22px;
    font-weight: bold;
    margin-top: 4rem;
    margin-bottom: 3rem;
}

.advantage-item p {
    color: #808080;
}

/* Footer */
.footer {
    background: #F7F7F7;
    padding: 4rem 2rem;
}

.footer-top {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    border-bottom: 1px solid #D2D2D2;
    padding-bottom: 2rem;
    flex-wrap: wrap;
}

.footer-brand h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.footer-brand p {
    font-size: 32px;
    font-weight: bold;
    max-width: 300px;
    padding-right: 6rem;
}

.footer-columns {
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
}

.footer-column h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.footer-column ul {
    list-style: none;
}

.footer-column ul li {
    margin-bottom: 1rem;
}

.footer-column ul li a {
    text-decoration: none;
    color: #808080;
    font-size: 16px;
}

.footer-bottom {
    display: flex;
    margin: 2rem auto 0;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.footer-links a {
    color: #000;
    text-decoration: none;
    margin: 0 0.5rem;
}